.footer {
    background: linear-gradient(#8af, #fab);
    border-top: solid .2rem $colorPrincipal;
    padding: 2rem;
    text-align: center;
    margin-top: 5rem;
    &__enlaces { //Enlaces e iconos a las redes sociales
        display: flex;
        justify-content: space-around;
        margin: 1rem;
        text-transform: $mayuscula;
        &--redes {
            display: flex;
            align-items: center;
            gap: .5rem;
            &--imagenes { // Imagenes de las redes sociales
                width: 2rem;
                border-radius: 5px;
            }
        }
        @media all and (max-width: 500px) {
            & {
                flex-direction: column;
                gap: 1rem;
            }
        }
    }
    & p {
        color: #222;
        font-weight: 900;
    }
}


